html {
	height: 100%;
	width: 100%;
}

body, table{
	font-family: Arial;
}

body{
	height: 100%;
	width: 100%;
}

img{border: 0px;}

button{
	cursor: pointer;
}

.tiletable{
	height: 100%;
	width: 100%;
	margin: 0px;
}

.tiletable .td{
	vertical-align: top;
}

.menuitem {width: 90%; text-decoration: none; border: none;}

.left{text-align: left;}
.center{text-align: center;}
.right{text-align: right;}

/* .evenrows{background-color: #B8B8B8;} */
/* .oddrows{background-color: #C8C8C8;} */

.error{color: #C00000;}

.defaultheight{
	height: 1%;
}